name: Emacs

on:
  workflow_dispatch:
    inputs:
      version:
        description: Emacs version
        required: true
        default: 30.2
      tree_sitter_version:
        description: Tree sitter version
        required: true
        default: v0.25.10

env:
  NAME: emacs
  EPATH: /opt/emacs

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        osbase_version: [ubuntu-base:25.10, ubuntu-base:24.04, debian-base:13]
        window_system: [x11, wayland]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare environemnt
        run: |
          sudo apt-get update && sudo apt-get install -y \
            libgccjit0 libgif7 libwebpdemux2 libgtk-3-0 libjpeg62 librsvg2-2 libwebpdecoder3 \
            build-essential autoconf texinfo libgnutls28-dev \
            libgtk-3-dev libcairo2-dev librsvg2-dev libjpeg-dev libpng-dev \
            libtiff-dev libgif-dev libxpm-dev libncurses-dev libjansson-dev \
            libgccjit-14-dev libtree-sitter-dev libwebp-dev mailutils
          sudo apt-get install -y libxml2-dev || echo "=== libxml2-dev not available, skip it ==="
          mkdir -p ${{env.EPATH}}

      - name: Build Emacs base image
        run: |
            podman build \
                --build-arg OSBASE_VERSION=${{matrix.osbase_version}} \
                --build-arg VERSION=${{inputs.version}} \
                --build-arg INSTALL_PATH=${{env.EPATH}} \
                --build-arg TREE_SITTER_VERSION=${{inputs.tree_sitter_version}} \
                -f containers/Containerfile-${{env.NAME}}.base \
                -t ${{env.NAME}}-base

      - name: Build Emacs image
        run: |
            podman build \
                --build-arg INSTALL_PATH=${{env.EPATH}} \
                -f containers/Containerfile-${{env.NAME}}-${{matrix.window_system}} \
                -t ${{env.NAME}}:${{inputs.version}}-${{matrix.window_system}}

      - name: Push Emacs image to docker hub
        run: |
            OSBASE_VERSION=$(sed 's/base://' <<< ${{matrix.osbase_version}})
            podman push \
                --creds ${{secrets.DOCKER_IO_USERNAME}}:${{secrets.DOCKER_IO_TOKEN}} \
                ${{env.NAME}}:${{inputs.version}}-${{matrix.window_system}} \
                docker://docker.io/nqminhuit/${{env.NAME}}:${{inputs.version}}-${OSBASE_VERSION}-${{matrix.window_system}}

      - name: Install Emacs
        run: |
          OSBASE_VERSION=$(sed 's/base://' <<< ${{matrix.osbase_version}})
          cid=$(podman create docker.io/nqminhuit/${{env.NAME}}:${{inputs.version}}-${OSBASE_VERSION}-${{matrix.window_system}} /bin/true)
          podman cp "$cid:/" ${{env.EPATH}}
          sudo ln -sfn ${{env.EPATH}}/bin/emacs /usr/bin
          sudo ln -sfn ${{env.EPATH}}/bin/emacsclient /usr/bin

          if [[ -f /usr/lib/x86_64-linux-gnu/libtiff.so.5 ]] && [[ ! -f /usr/lib/x86_64-linux-gnu/libtiff.so.6 ]]; then
              sudo ln -s /usr/lib/x86_64-linux-gnu/libtiff.so.5 /usr/lib/x86_64-linux-gnu/libtiff.so.6
          elif [[ -f /usr/lib/x86_64-linux-gnu/libtiff.so.6 ]] && [[ ! -f /usr/lib/x86_64-linux-gnu/libtiff.so.5 ]]; then
              sudo ln -s /usr/lib/x86_64-linux-gnu/libtiff.so.6 /usr/lib/x86_64-linux-gnu/libtiff.so.5
          fi

          git clone --depth 1 --branch ${{inputs.tree_sitter_version}} https://github.com/tree-sitter/tree-sitter.git ${{secrets.TOOLS_DIR}}/tree-sitter
          (
              cd ${{secrets.TOOLS_DIR}}/tree-sitter
              make
              sudo make install
          )
          export LD_LIBRARY_PATH=/usr/local/lib/
          emacs --version || echo "done!"
